@model AplicacaoCaixaEletronico.Models.Saque

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Novo Saque";
}


<br />
<div class="text-center">
    <label style="text-align:center; color: black; font-size:x-large">Digite o Valor do Saque</label>
</div>
<br />
<br />

<form asp-controller="Saque" asp-action="Create" method="POST">

    <div class="form-group">
        @if (ViewBag.Saldo >= 1000)
        {
            <label style="color: black">OBS: O Valor deve ser maior que 2 e menor que 1000.</label>
        }
        else
        {
            <label style="color: black">Atenção: O saldo do caixa esta abaixo de 1000 reais, portanto o Valor do Saque deve ser maior que 2 e menor que @ViewBag.Saldo.</label>
        }

        <input type="text" class="form-control" asp-for="Valor" />
        <span asp-validation-for="Valor"></span>
    </div>

    <br />

    <div class="align-content-between text-center">
        <button class="btn btn-primary">Confirmar</button>
        <a href="/Saque/Index" class="btn btn-danger">Cancelar</a>
    </div>

</form>
